# Библиотека Pandas
## Data Frame

In [2]:
import pandas as pd

### Создание Data Frame

In [33]:
frame = pd.DataFrame({'numbers': range(10), 'chars': ['a']*10})
frame

  chars  numbers
0     a        0
1     a        1
2     a        2
3     a        3
4     a        4
5     a        5
6     a        6
7     a        7
8     a        8
9     a        9

### Читаем данные из файла
read_csv(название, есть ли заголовок, какой разделитель)

In [34]:
frame = pd.read_csv('dataset.tsv', header=0, sep='\t')
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер

In [35]:
frame.columns

Index(['Name', 'Birth', 'City', 'Position'], dtype='object')

In [36]:
frame.shape

(6, 4)

### Изменяем данные
#### Добавление строки
append вернет копию фрейма. Основной фрейм не изменится.

In [37]:
new_line = {'Name': 'Perov', 'Birth': '22.03.1990', 'City': 'Penza'}
frame.append(new_line, ignore_index=True)

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер
6            Perov  22.03.1990      Penza       NaN

In [38]:
frame = frame.append(new_line, ignore_index=True)

### Добавление столбца

In [39]:
frame['IsStudent'] = [False]*5 + [True]*2
frame

              Name       Birth       City  Position IsStudent
0      Иванов А.А.  22.03.1980     Москва       NaN     False
1     Сорокин И.В.  07.08.1965  Волгоград   инженер     False
2       Белов М.М.  13.02.1980     Ростов  менеджер     False
3  Мельникова Д.С.  15.04.1985     Ростов       NaN     False
4      Рыбина Е.П.  19.11.1985     Москва   инженер     False
5     Костров С.О.  31.05.1985     Москва    стажер      True
6            Perov  22.03.1990      Penza       NaN      True

### Удаление строк/столбцов
drop также не изменяет исходный frame, но есть атрибут inplace=True

In [40]:
frame.drop([5,6], axis=0, inplace=True)
frame

              Name       Birth       City  Position IsStudent
0      Иванов А.А.  22.03.1980     Москва       NaN     False
1     Сорокин И.В.  07.08.1965  Волгоград   инженер     False
2       Белов М.М.  13.02.1980     Ростов  менеджер     False
3  Мельникова Д.С.  15.04.1985     Ростов       NaN     False
4      Рыбина Е.П.  19.11.1985     Москва   инженер     False

In [41]:
frame.drop(['IsStudent'], axis=1)

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер

### Сохранение результата в файл
to_csv(название файла, разделитель, нужен ли заголовок, нужен ли индекс)

In [42]:
frame.to_csv('updated_dataset.csv', sep=',', header=True, index=None)

In [43]:
!cat updated_dataset.csv

Name,Birth,City,Position,IsStudent
Иванов А.А.,22.03.1980,Москва,,False
Сорокин И.В.,07.08.1965,Волгоград,инженер,False
Белов М.М.,13.02.1980,Ростов,менеджер,False
Мельникова Д.С.,15.04.1985,Ростов,,False
Рыбина Е.П.,19.11.1985,Москва,инженер,False